.slider {
	background-image: url('/landing-page-solutionscargo/bg-perishable.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding: 50px 75px;
	.slick-arrow {
		&.slick-prev {
			left: 25px
		}
		&.slick-next {
			right: 25px
		}
	}
	.slick-dots {
	}
	.slider__slide {
		text-align: center;
		.slide__title {
			font-size: 2.5rem;
			color: white;
			font-weight: bold;
		}
		.slide__text {
			font-size: 1.5rem;
			color: white;
			&:before {
				content: '';
				position: absolute;
				display: inline-block;
				background-color: white;
				width: 50px;
				height: 4px;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				bottom: -50px;
			}
		}
	}
}


@media(max-width: 1536px){}
@media(max-width: 1280px){}
@media(max-width: 1024px){}
@media(max-width: 768px){
	.slider {
		background-position: left;
		padding: 20px 10px;
		.slider__slide {
			.slide__title {
				font-size: 2rem;
			}
			.slide__text {
				font-size: 1.2rem;
			}
		}
	}
}
@media(max-width: 640px){
	.slider {
	}
}